/** 
  *
  *  ESTILOS GERAIS 
  *
  **/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: roboto;
}
* {
    margin: 0;
    padding: 0;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

button:focus {
    color: white;
}

img {
    max-width: 50px;
    background-color:white !important;
}

div>p:first-child {
    display: inline;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-top: 108px;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 500px;
    text-align: center;
}

.icone {
    height: 15px;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

 #container-de-descricao {
    background-color: #2274a5;
    color: white;
    padding-top: 103px;
    font-size: 24px
}

.chamada {
    width: 272px;
    margin: 0 auto;
}

#container-de-descricao>ol {
    width: 50%;
    margin: 0 auto;
    padding: 15px 0px;

}
#container-de-descricao li {
    padding-left: 20px;
    margin: 0 342px

}

#container-para-comprar {
    background-color: #e7eb90;
   padding-top: 200px;  
}


#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
}



/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}
td button:hover {
    background-color: #796a28;
    color: black;
}

td button:active {
    color: white;
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    
}
#back-button a{
    text-decoration: none;
    color: black;
}

#back-button:hover {
    background-color: #635a3d
}