body {
  background: #7159c1;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: 40px;
}
h2 {
  font-size: 18px;
  font-weight: 30px;
}
p {
  font-size: 15px;
  font-weight: 28px;
}
