.primeiro{
  grid-column-start: 3;
}

.segundo{
  grid-column-start: 5;
}

.terceiro{
  grid-column-start: 1; 
  grid-column-end: 4;
}

.quarto{
  grid-column-start: 5; 
  grid-column-end: 2;
}

.quinto{
  grid-column-start: 1; grid-column-end: 5;
}

.sexto{
  grid-column-start: 4; 
}

.setimo{
  grid-column-end: span 2; 
}

.oitavo{
  grid-column-end: span 5; 
}

.nono{
  grid-column-start: span 3; 
}

.decimo{
  grid-column: 4/6; 
}

.decimoPrimeiro{
  grid-column: 2/5; 
}
.decimoSegundo{
  grid-row-start: 3; 
}
.decimoTerceiro{
  grid-row: 3/6; 
}
.decimoQuarto{
  grid-row: 5;
  grid-column:2 
}

.decimoQuinto{
  grid-row: 6/1;
  grid-column: 2/6;
}

.decimoSexto{
  grid-area: 1/2/4/6;
}

.decimoSetimo{
  grid-area: 2/3/5/6;
}

.decimoOitavo{
  order:2;
}

.decimoNono{
  order:-1;
}

.vigesimo{
  grid-template-columns: 50%;
}

.vigesimoPrimeiro{
  grid-template-columns: repeat(5, 12.5%);
}

.vigesimoSegundo{
  grid-template-columns: 100px 3em 40%;
}

.vigesimoTerceiro{
  grid-template-columns: 1fr 5fr;
}

.vigesimoQuarto{
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
}

.vigesimoQuinto{
  grid-template-columns: 75px 3fr 2fr;
}

.vigesimoSexto{
  grid-template-rows: 50px 0fr 0fr 0fr 1fr;
}

.vigesimoSetimo{
  grid-template: 60% / 200px;
}

.vigesimoOitavo{
  grid-template: 1fr 50px / 20% 80%;
}
