*{
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

header{
  display: flex;
  height: 80px;
}

/* 
AMARELO: 
#FFDC00
#2ECC40
#F012BE
#0074D9
#FF4136
#01FF70
#B10DC9

*/
.cabecalho{
  display: flex;
  justify-content: center;
  align-items: center;
  width:30%;
  height:100%;
  background-color:#2ECC40;
  color:#fff;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width:70%;
  height:100%;
  background-color:#FFDC00;
  color:#fff; 
}
section{
  height: 300px;
}
.content1{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  background-color:#F012BE;
  color:#fff; 
}

article{
  display: flex;
  flex-direction: row;
}

.contents{
  display:flex ;
  flex-grow: 8;
  flex-direction: row;
  height: 200px;
}

.content2{
  background-color: #0074D9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
}

.contentVazio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  background: white;
}

.side{
  flex-grow: 2;
  flex-direction: column;
  height: 200px;
}
.contentImage{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF4136;
  color: white;
  height: 50%;
}
.contentExtra{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #01FF70;
  color: white;
  height: 50%;
}

.contentFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100px;
  background-color:#B10DC9;
  color:#fff;
}